In [16]:
import pandas as pd
import requests
from IPython.display import Image, display # for image display

from datetime import datetime, timedelta

`Astronomy Picture of the Day.`

In [13]:
# api setup
apod_url = "https://api.nasa.gov/planetary/apod"
api_key = "CM6wHdwExkYi0ib5n6FaMiah9hf0jSfqR8GbptC4"

In [ ]:
# parsing the json response
response = requests.get(apod_url, params={'api_key': api_key})
apod_data = response.json()

In [34]:
apod_data

{'copyright': 'Jiang Wu',
 'date': '2025-04-04',
 'explanation': 'Scanning the skies for galaxies, Canadian astronomer Paul Hickson and colleagues identified some 100 compact groups of galaxies, now appropriately called Hickson Compact Groups. The four prominent galaxies seen in this intriguing telescopic skyscape are one such group, Hickson 44. The galaxy group is about 100 million light-years distant, far beyond the spiky foreground Milky Way stars, toward the constellation Leo. The two spiral galaxies in the center of the image are edge-on NGC 3190 with its distinctive, warped dust lanes, and S-shaped NGC 3187. Along with the bright elliptical, NGC 3193 (above and left) they are also known as Arp 316. The spiral toward the lower right corner is NGC 3185, the 4th member of the Hickson group. Like other galaxies in Hickson groups, these show signs of distortion and enhanced star formation, evidence of a gravitational tug of war that will eventually result in galaxy mergers on a cosmic timescale. The merger process is now understood to be a normal part of the evolution of galaxies, including our own Milky Way. For scale, NGC 3190 is about 75,000 light-years across at the estimated distance of Hickson 44.',
 'hdurl': 'https://apod.nasa.gov/apod/image/2504/ARP316.jpg',
 'media_type': 'image',
 'service_version': 'v1',
 'title': 'Hickson 44 in Leo',
 'url': 'https://apod.nasa.gov/apod/image/2504/ARP316_1024.jpg'}

In [15]:
# Display the image in Jupyter Notebook
display(Image(url=apod_data['url']))

`Asteroids Near Earth Object Web Service`(NeoWs)

In [17]:
# api setup
today = datetime.now().strftime('%Y-%m-%d')
neows_url = "https://api.nasa.gov/neo/rest/v1/feed"

In [18]:
# sending the get method
response = requests.get(neows_url, params={
    'api_key': api_key,
    'start_date': today,
    'end_date': today
})

In [19]:
# parse the json response
neo_data = response.json()

In [26]:
# process the nested json data
asteroids = []

for date in neo_data['near_earth_objects']:
    for asteroid in neo_data['near_earth_objects'][date]:
        asteroids.append({
            'id': asteroid['id'],
            'name': asteroid['name'],
            'min_diameter_km': asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'],
            'absolute_magnitude': asteroid['absolute_magnitude_h'],
            'relative_velocity(km/s)': asteroid['close_approach_data'][0]['relative_velocity']['kilometers_per_second']
        })

In [29]:
# create a dataframe
df = pd.DataFrame(asteroids)
df.head()

,id,name,min_diameter_km,absolute_magnitude,relative_velocity(km/s)
0,3177230,(2004 FC18),0.035039,24.4,18.4545978029
1,3667048,(2014 GQ17),0.010105,27.1,13.6984760297
2,3772997,(2017 FA102),0.021113,25.5,15.1551768302
3,3989396,(2020 CE),0.026580,25.0,13.037846748
4,54016353,(2020 FH4),0.005553,28.4,2.9971164592

In [ ]:
# clean column names
df.columns = [
    'Asteroid ID',
    'Asteroid name',
    'The Minimal estimated diameter in Kilometer',
    'Absolute_magnitude',
    'Relative_velocity(km/s)'
]

In [31]:
# export to csv
df.to_csv('nasa_asteroids.csv', index=False)

In [33]:
df.head(10)

,Asteroid ID,Asteroid name,The Minimal estimated diameter in Kilometer,Absolute_magnitude,Relative_velocity(km/s)
0,3177230,(2004 FC18),0.035039,24.40,18.4545978029
1,3667048,(2014 GQ17),0.010105,27.10,13.6984760297
2,3772997,(2017 FA102),0.021113,25.50,15.1551768302
3,3989396,(2020 CE),0.026580,25.00,13.037846748
4,54016353,(2020 FH4),0.005553,28.40,2.9971164592
5,54099598,(2020 XT2),0.030942,24.67,6.1679936154
6,54354397,(2023 GC2),0.009259,27.29,6.2512111713
7,54354673,(2023 HR1),0.015155,26.22,27.4695236212
8,54392414,(2023 TH4),0.010437,27.03,17.0300254997
9,54434763,(2024 HA),0.001176,31.77,11.8580568043